<div class="container">
  <div class="row mt-5">
    <div class="col">

<span id="notice"><%= notice %></span>

<h3>All checkpoints</h3>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Check at</th>
      <th>Handle</th>
      <th>Description</th>
      <th>School</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.id %></td>
        <td><%= checkpoint.check_at %></td>
        <td><%= checkpoint.handle %></td>
        <td><%= truncate(checkpoint.description, length: 20) %></td>
        <td><%= checkpoint.school_id %></td>
        <td class="small">
          <%= link_to 'Show', checkpoint %>
          |
          <%= link_to 'Edit', edit_checkpoint_path(checkpoint) %>
          |
          <%= link_to 'Destroy', checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="mt-4">
  <%= link_to '+ New Checkpoint', new_checkpoint_path, class: "btn btn-outline-success" %>
</p>

<p>
  Past checkpoints (<%= @past_checkpoints.count %>):
</p>
<ul>
  <% @past_checkpoints.each do |each_checkpoint| %>
    <li>
      <%= each_checkpoint.check_at %>,
      id=<%= each_checkpoint.id %>,
      handle=<%= each_checkpoint.handle %>,
      <%= link_to 'edit', edit_checkpoint_path(each_checkpoint) %>
    </li>
  <% end %>
</ul>


<!-- nav: breadcrumbs -->
<%= render 'shared/breadcrumbs', cur_page: 'All checkpoints' %>

    </div>
  </div>
</div>
