<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h3 class="mb-3">Show Student</h3>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @student.grade_level %>
</p>

<p>
  <strong>Journal entries (<%= @student.journal.journal_entries.count %>):</strong>
</p>
<ul>
  <%= render @student.journal.journal_entries %>
</ul>

<!-- nav: breadcrumbs -->
<% bc1 = ['All students', students_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'Show student', crumbs: bc1 %>


    </div>
  </div>
</div>
