<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars %>
  </div>

  <div class="field">
    <%= form.label :party_time %>
    <%= form.date_field :party_time %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <br>
    <div class="ml-5">
      <% num_rows = ux_textarea_rows(user.comment, max_rows: 5) %>
      <%= form.text_area :comment, rows: num_rows, style: "width: 60%;" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
