
<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td class="d-none d-lg-table-cell"><%= user.email %></td>
  <td id="stars-<%= user.id %>"><%= user.stars %></td>
  <td class="d-none d-lg-table-cell text-play-sm">
    <%= user.party_started_at.strftime("%m/%d/%Y %H:%M") %>
  </td>
  <td class="text-play-sm text-muted">
    [
      <%= link_to 'Inc', increment_user_path(user),
                         method: :patch, remote: true %>,
      <%= link_to 'Clr', clear_user_path(user),
                         method: :patch, remote: true %>
    ]
  </td>
  <td class="text-play-sm">
    <%= link_to 'Show', user %> |
    <%= link_to 'Edit', edit_user_path(user) %> |
    <%= link_to 'Destroy', user,
                method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
