<div class="container">
  <div class="row mt-5">
    <div class="col">

<div class="col-12">
  <span id="notice" class="float-right"><%= notice %></span>

  <h1>
    <i class="far fa-smile mr-2 text-success"></i>
    Users
    <small class="text-secondary">
      <i class="fa fa-question-circle ml-3"
         data-toggle="tooltip"
         data-placement="bottom"
         title="Tooltip text for users index. Huzzah!"></i>
     </small>
  </h1>
</div>

<style>
  .border-sorted {
    padding: 8px;
    border: 1px solid RebeccaPurple;
    border-radius: 8px;
    background-color: ghostwhite;
  }
  .border-not-sorted {
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
  }
</style>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>
        <%= link_to 'Name', users_path(sort_by: "nD"), remote: true,
                            id: "name-link", class: "border-sorted" %>
      </th>
      <th><%= link_to 'Email', users_path(sort_by: "eA"), remote: true,
                               id: "email-link", class: "border-not-sorted" %></th>
      <th><%= link_to 'Stars', users_path(sort_by: "sA"), remote: true,
                               id: "stars-link", class: "border-not-sorted" %></th>
      <th>Party time</th>
      <th>+/-</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody id="users-body">
    <!-- Rails magic renders user partial foreach user in the collection -->
    <%= render @users %>
  </tbody>
</table>

<br>
<div class="mt-4">
  <%= link_to 'New User', new_user_path, class: "btn btn-outline-success" %>
  &nbsp; &nbsp;
  <%= link_to 'Import CSV', import_csv_path, class: "btn btn-outline-secondary" %>
</div>

    </div>
  </div>
</div>
