<div class="container">
  <div class="row mt-5">
    <div class="col">

<span id="notice" class="float-right"><%= notice %></span>

<!-- header: title -->
<h3 class="mb-4">
  <small><i class="far fa-smile mr-2 text-success"></i></small>
  The Playground
</h3>

<p>
  Test things first on The Playground.
  <i class="fas fa-question-circle ml-2 text-secondary"
     data-toggle="tooltip" data-placement="bottom"
     title="The playground is FUN. Yow!"></i>
  <br>
  play first...yow, bill
</p>

<hr>

<p class="mt-4">
  1. All index pages:
  &nbsp;
  <%= link_to 'All Schools', schools_path %>
  &nbsp; | &nbsp;
  <%= link_to 'All Users', users_path %>
  &nbsp; | &nbsp;
  <%= link_to 'All Students', students_path %>
  &nbsp; | &nbsp;
  <%= link_to 'All Journals', journals_path %>
</p>

<p class="mt-4">
  2. Testing:
  &nbsp; &nbsp;
  <%= link_to 'Import CSV', import_csv_path, class: "btn btn-outline-secondary" %>
  &nbsp; &nbsp;
  <%= link_to 'Chart fun', chart_fun_path, class: "btn btn-outline-info" %>
  &nbsp; &nbsp;
  <%= link_to 'My Calendar', my_calendar_test_path, class: "btn btn-outline-warning" %>
  &nbsp; &nbsp;
  <%= link_to 'Calendar', calendar_test_path, class: "btn btn-outline-primary" %>
  &nbsp; &nbsp;
  <%= link_to 'Webpack test', "#", id: "webpack-test", class: "btn btn-outline-danger" %>
  &nbsp; &nbsp;
  <%= link_to 'Webpack test #2', "#", id: "webpack-test2", class: "btn btn-outline-danger" %>
</p>

<p class="mt-4">
  3. Etc
</p>
<p>
  Bill - your laptop says hello. &nbsp; <i class="fas fa-laptop"></i>
</p>
<p>
  This is an image in the asset pipeline.
  <%= image_tag "crayons2.jpg", style: 'height:128px;'%>
</p>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'hello', 'data-turbolinks-track': 'reload' %>
