<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h2 class="mb-3">Show User</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @user.stars %>
</p>

<p>
  <strong>Party started_at:</strong>
  <%= @user.party_started_at %>
</p>

<p>
  <strong>Party ended_at:</strong>
  <%= @user.party_ended_at %>
</p>

<p>
  <strong>Comment:</strong>
  <div class="ml-5 p-3 border rounded">
    <%= simple_format @user.comment %>
  </div>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Index', users_path %>

    </div>
  </div>
</div>
