<div class="container">
  <div class="row mt-5">
    <div class="col">

<span id="notice"><%= notice %></span>

<h3 class="mb-3">Show user</h3>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @user.stars %>
</p>

<p>
  <strong>Party started_at:</strong>
  <%= @user.party_started_at %>
</p>

<p>
  <strong>Party ended_at:</strong>
  <%= @user.party_ended_at %>
</p>

<p>
  <strong>Comment:</strong>
  <div class="ml-5 p-3 border rounded">
    <%= simple_format @user.comment %>
  </div>
</p>

<p class="mt-4">
  <strong>Life events (<%= @user.life_events.count %>):</strong>
</p>
<p class="text-muted">
  <% if @user.life_events.present? %>
    Ordered by date
  <% else %>
    This user has no life events.
  <% end %>
</p>
<ul>
  <%= render LifeEvent.all_for_user(@user) %>
</ul>

<p class="mt-4">
  <%= link_to 'Home', root_path %>
  <i class="fa fa-angle-double-left text-muted px-2"></i>
  <%= link_to 'All users', users_path %>
</p>

    </div>
  </div>
</div>
