<div class="container">
  <div class="row mt-5">
    <div class="col">

<span id="notice"><%= notice %></span>

<h3>
  Life events <small>for</small> <%= @user.name %>
</h3>

<p class="text-muted">
  Num life events: <%= @life_events.count %>
</p>

<ul>
  <!-- Rails magic renders user partial foreach user in the collection -->
  <%= render @life_events %>
</ul>

<%= link_to '< Home', root_path %>

    </div>
  </div>
</div>
