<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h2 class="mb-3">Show Life event</h2>

<!-- show user who owns this life event -->
<p>
  <strong>User:</strong>
  <%= @life_event.user.name %> ( <%= @life_event.user.email %> )
</p>

<!-- show date of life event -->
<p>
  <strong>Happened at:</strong>
  <%= ux_happened_at_date(@life_event) %>
</p>

<!-- show date of life event -->
<p>
  <strong>Description:</strong>
  <div class="ml-5 p-3 border rounded">
    <%= simple_format @life_event.description %>
  </div>
</p>

<%= link_to 'Edit', edit_user_path(@life_event.user) %> |
<%= link_to 'Index', life_events_path %>

    </div>
  </div>
</div>
