<div class="container">
  <div class="row mt-5">
    <div class="col">

<p id="notice"><%= notice %></p>

<h3 class="mb-3 border-bottom">Show School</h3>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @school.handle %>
</p>

<p>
  <strong>Color:</strong>
  <span style="color: <%= @school.color %>;"><%= @school.color %></span>
</p>

<!-- nav: breadcrumbs -->
<% bc1 = ['All schools', schools_path] %>
<%= render 'shared/breadcrumbs', cur_page: 'Show school', crumbs: bc1 %>

    </div>
  </div>
</div>
