<%= form_with(model: goal_step, local: true) do |form| %>

  <% if goal_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_step.errors.count, "error") %> prohibited this goal step from being saved:</h2>

      <ul>
        <% goal_step.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- name attr -->
  <div class="form-row">
    <div class="col-6 form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <!-- button: ok -->
  <div class="actions">
    <%= form.submit "Ok", class: "btn btn-outline-success" %>
  </div>

<% end %>
