<div class="container">
  <div class="row mt-5">
    <div class="col">

<span id="notice"><%= notice %></span>

<h3>All goal steps</h3>


<table class="table table-hover table-striped" style="width: 50%;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3" style="width: 25%;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @goal_steps.each do |goal_step| %>
      <tr>
        <td><%= goal_step.id %></td>
        <td><%= goal_step.name %></td>
        <td><%= link_to 'Show', goal_step %></td>
        <td><%= link_to 'Edit', edit_goal_step_path(goal_step) %></td>
        <td><%= link_to 'Destroy', goal_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="mt-4">
  <%= link_to '+ New goal step', new_goal_step_path, class: "btn btn-outline-success" %>
</p>

<!-- nav: breadcrumbs -->
<%= render 'shared/breadcrumbs', cur_page: 'All goal steps' %>

    </div>
  </div>
</div>
