<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Font Awesome, Oct 2019 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- Rails app stylesheets and js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  /* enable Bootstrap tooltips */
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
